
.menu {
    background-color: greenyellow;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    padding: 0 24px;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 146px;
    height: 24px;
}

.menu-center {
    display: flex;
    width: 404px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 1);
}
#search {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

#button-search {
    width: 57px;
    height: 40px;
    border: 1px solid rgba(204, 204, 204, 1);
    background: rgba(248, 248, 248, 1);
}

.menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 34px;   
}

#icon {
    width: auto;
    height: 24px;
}