.content {
    display: flex;
    flex-direction: row;

}

.preview {
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 746px;
    padding: 16px 16px 16px 75px;
}

.content-icons {
    background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 902px;
    height: 42px;
}

.channel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.channel-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.channel-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.channel-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 24px;
    gap: 5px;
    margin: auto;
    font-weight: bolder;
}

.content-icons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(204, 0, 0, 1);
    width: 159px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.content-icons button:hover {
    background: darkred;
    cursor: pointer;
}

.video-comments {
    background: lightgreen;
    display: flex;
    flex-direction: column;
    width: 510px;
    color: rgba(81, 81, 81, 1);
    font-size: 14px;
}

.video-comments #text-dados {
    color: black;
    font-weight: bold;
}

.video-player iframe{
    width: 100%;
    height: 100%;
}

.video-details {
    background: yellow;
}


