.content {
    display: flex;
    flex-direction: row;

}

.preview {
    display: flex;
    flex-direction: column;
    width: 592px;
    padding: 16px 16px 16px 75px;
}

.video-stats {
    background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.video-stats button {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: red;
    width: 159px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
}
.video-stats button:hover {
    background: darkred;
    cursor: pointer;
}

.video-comments {
    background: lightgreen;
}

.video-player iframe{
    width: 100%;
    height: 537px;
}

.video-details {
    background: yellow;
}