.content {
    display: flex;
    flex-direction: row;

}

.preview {
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 746px;
    padding: 16px 16px 16px 75px;
}

.content-icons {
    background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 902px;
    height: 42px;
}

.channel-info h3 p {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 14px;
    margin: auto;
}

.icons {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 24px;
    gap: 5px;
    margin: auto;
}

.content-icons button {
    display: flex;
    background: red;
    width: 159px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}
.content-icons button:hover {
    background: darkred;
    cursor: pointer;
}

.video-comments {
    background: lightgreen;
    display: flex;
    flex-direction: column;
    width: 510px;
    color: rgba(81, 81, 81, 1);
    font-size: 14px;
}

.video-comments #text-dados {
    color: black;
    font-weight: bold;
}

.video-player iframe{
    width: 100%;
    height: 100%;
}

.video-details {
    background: yellow;
}


