.content {
    display: flex;
    flex-direction: row;

}

.preview {
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 746px;
    padding: 16px 16px 16px 75px;
}

.content-icons {
    background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 902px;
    height: 42px;
}

.icons {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 24px;
}

.content-icons button {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: red;
    width: 159px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
}
.content-icons button:hover {
    background: darkred;
    cursor: pointer;
}

.video-comments {
    background: lightgreen;
}

.video-player iframe{
    width: 100%;
    height: 100%;
}

.video-details {
    background: yellow;
}
