.video-stats {
    background: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.video-comments {
    background: lightgreen;
}

.video-player {
    background: lightblue;
}