.sidebar {
    display: flex;
    flex-flow: column wrap;
    width: 160px;
    height: 938px;
}

.video{
    display: flex;
    width: 246px;
    height: 138px;
    margin: 10px;
}

.thumbnail{
    display: flex;
    width: 160px;
    height: 90px;
}
.video-info{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 196px;
    height: 89px;
}

.video-info h3{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}
.video-info p{
    font-size: 12px;
    color: rgba(81, 81, 81, 1);
    margin-bottom: 4px;
}