.sidebar {
    background: burlywood;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 938px;
}

.video{
    display: flex;
    width: 246px;
    height: 138px;
    margin: 10px;
}

.thumbnail{
    display: flex;
    width: 160px;
    height: 90px;
}
.video-info{
    display: flex;
    width: 196px;
    height: 89px;
}