/* Importação dos módulos CSS */
@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('sidebar.css');

/* Estilos globais do body */
body {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f9f9f9;
}